@import './buttons.css';

body {
    background-color: #26B4BC;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    max-inline-size: 900px;
    margin:auto;
}
.player{
    position: relative;
}

.player video{
    inline-size: 100%;
    border-radius: 8px;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
}

.player-title{
    color: white;
    position: absolute;
    inset-block-start: 0px;
    inset-inline-start: 20px;
}

.player-actions {
    position: absolute;
    inset:0;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */

}


.player-audio {
    position: absolute;
    inset-block-end: 50px;
    inset-inline-end: 16px;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */

}
.player-progress{
    /*background-color: yellow;*/
    position: absolute;
    inset-block-end: 0;
    inset-inline:0;
    display: flex;
    padding: 10px;
}

.player-progress input{
    flex:1;
    
}
  
.player-progress #duration{
    color:white;
    margin-left: 8px;
}

.player-overlay{
    inset:0;
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: .3s opacity;
}

.player:hover .player-overlay{
    opacity: 1;
}